body {
    background-color: bisque;
}

li {
    text-transform: capitalize;
}

#bookings_route_h1,
#members_link {
    text-align: center;
}

.bookings {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gray 1px solid;
    padding: 5px;
}